<form role="form" action="{{ action_path }}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="row">
            {% if messages %}
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top: 10px; text-align: center;">
                    {{ message }}
                </div>
                {% endif %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top: 10px; text-align: center;">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- /.col -->
        </div>
    </div>

    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">{{ button_text }}</button>
    </div>
</form>